.DS_Store
node_modules
npm-debug.log
bower_components
dist

*.iml
*.iws
*.ipr
build/
target/
out/
idea
.idea/
.project
.classpath
.settings/

/tmp/
docker-dir/image/
.vscode/
main.exe*
/backend/backend
image

