<div class="row">
    <div mass-autocomplete>
        <input ng-model="statement.useScope" mass-autocomplete-item="useScopeCompletion"> uses
        <input ng-model="statement.qualifier" mass-autocomplete-item="qualifierCompletion">
        <input ng-model="statement.dataCategory" mass-autocomplete-item="dataCategoryCompletion"> from
        <input ng-model="statement.sourceScope" mass-autocomplete-item="sourceScopeCompletion"> to
        <input ng-model="statement.action" mass-autocomplete-item="actionCompletion"> the
        <input ng-model="statement.resultScope" mass-autocomplete-item="resultScopeCompletion">
    </div>
</div>
<div class="row">
    <hr>
</div>
<div class="row">
    {{statement.useScope}} uses {{statement.qualifier}} {{statement.dataCategory}} from {{statement.sourceScope}} to
    {{statement.action}} the {{statement.resultScope}}
</div>

