Passive voice ----
<div class="row">
    <form>
        <div mass-autocomplete>
            <error-label fragment="statement.errors.useScope"></error-label>
            <input error-marker="statement.errors.useScope"
                   placeholder="use scope"
                   ng-model="statement.useScope"
                   mass-autocomplete-item="useScopeCompletion"
                   pu-elastic-input style="min-width: 10px; max-width: 1000px;">
            uses
            <input placeholder="qualifier"
                   ng-model="statement.qualifier"
                   mass-autocomplete-item="qualifierCompletion"
                   pu-elastic-input style="min-width: 10px; max-width: 1000px;">
            <input placeholder="data category"
                   ng-model="statement.dataCategory"
                   mass-autocomplete-item="dataCategoryCompletion"
                   pu-elastic-input style="min-width: 10px; max-width: 1000px;"> from
            <input placeholder="source scope"
                   ng-model="statement.sourceScope"
                   mass-autocomplete-item="sourceScopeCompletion"
                   pu-elastic-input style="min-width: 10px; max-width: 1000px;"> to
            <error-label fragment="statement.errors.action"></error-label>
            <input error-marker="statement.errors.action"
                   placeholder="action"
                   ng-model="statement.action"
                   mass-autocomplete-item="actionCompletion"
                   pu-elastic-input style="min-width: 10px; max-width: 1000px;"> the
            <input placeholder="result scope"
                   ng-model="statement.resultScope"
                   mass-autocomplete-item="resultScopeCompletion"
                   pu-elastic-input style="min-width: 10px; max-width: 1000px;">
        </div>
    </form>
</div>
<div class="row padding-top-2">
    <div class="callout secondary" ng-show="editorController.hasErrors(statement)">
        <div ng-show="statement.errors.useScope.active">
            <error-label fragment="statement.errors.useScope"></error-label>
            {{statement.errors.useScope.message}}
        </div>
        <div ng-show="statement.errors.action.active">
            <error-label fragment="statement.errors.action"></error-label>
            {{statement.errors.action.message}}
        </div>
    </div>
</div>

<div class="row" ng-show="!editorController.emptyStatement(statement)">
    <hr>
</div>
<div class="row" ng-show="!editorController.emptyStatement(statement)">
    <h5>Preview</h5>
    <div class="row column">
        {{statement.qualifier}} {{statement.dataCategory}} from {{statement.sourceScope}} is used by {{statement.useScope}} to {{statement.action}} the
        {{statement.resultScope}}
    </div>
</div>

