<div class="row">
    <div mass-autocomplete>
        <input ng-model="editorController.useScope" mass-autocomplete-item="useScopeCompletion"> uses
        <input ng-model="editorController.qualifier" mass-autocomplete-item="qualifierCompletion">
        <input ng-model="editorController.dataCategory" mass-autocomplete-item="dataCategoryCompletion"> from
        <input ng-model="editorController.sourceScope" mass-autocomplete-item="sourceScopeCompletion"> to
        <input ng-model="editorController.action" mass-autocomplete-item="actionCompletion"> the
        <input ng-model="editorController.resultScope" mass-autocomplete-item="resultScopeCompletion">
    </div>
</div>
<div class="row">
    <hr>
</div>
<div class="row">
    {{editorController.useScope}} uses {{editorController.qualifier}} {{editorController.dataCategory}} from {{editorController.sourceScope}} to
    {{editorController.action}} the {{editorController.resultScope}}
</div>

