<div ng-controller="EditorController as editorController">
    <div class="sidebar">
        <ul class="menu vertical icon-top padding-top-2">
            <li><a ui-sref="main.home" href=""><i class="fa fa-1-5x fa-chevron-left"></i> Documents</a></li>
            <li class="padding-top-2"></li>
            <li><a href="" ng-click="editorController.addStatement()"><i class="fa fa-1-5x fa-plus"></i> New Statement</a></li>
            <li><a data-open="undoModal" ng-class="{'sidebar-icon-disabled':!editorController.dirty()}" href=""><i class="fa fa-1-5x fa-undo"></i> Undo</a></li>
            <li><a ng-class="{'sidebar-icon-disabled':!editorController.dirty()}" href=""><i class="fa fa-1-5x fa-save"></i> Save</a></li>
            <li><a href=""><i class="fa fa-1-5x fa-check-circle-o"></i> Validate</a></li>
            <li><a href=""><i class="fa fa-1-5x fa-cloud-download"></i> Download</a></li>
        </ul>
    </div>
    <div class="row columns editor-canvas" style=" padding-left: 200px !important;">
        <div class="row padding-top-2" ng-if="!editorController.noDocument">
            <div class="small-10 columns">
                <h4>{{document.name}}</h4>
            </div>
            <div class="small-1 columns middle">
                <!--<div class="label alert"><i class="fa fa-warning"></i> Conflicts</div>-->
                <div class="label success"><i class="fa fa-check"></i> Validated</div>
                <!--<div class="label secondary"><i class="fa fa-question"></i> Not Validated</div>-->
            </div>
            <hr>
        </div>

        <div class="row column" ng-if="document">
            <ul data-as-sortable="editorController.dragControlListeners" data-ng-model="document.statements">
                <li data-ng-repeat="statement in document.statements" data-as-sortable-item>
                    <div data-as-sortable-item-handle>
                        <div class="row">
                            <div class="small-10 columns" ng-click="editorController.editStatement(statement)">
                                {{statement.content}}
                            </div>
                            <div class="small-1 columns text-right">
                                <a ng-click="editorController.deleteStatement(statement)"><i class="fa fa-trash medium-gray"></i> </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row columns text-center padding-top-6" ng-if="editorController.noDocument">
        <i class="fa fa-4x fa-exclamation-triangle medium-gray" aria-hidden="true"></i>
        <h5>No document found</h5>
    </div>

    <div class="reveal tiny" id="undoModal" data-reveal data-overlay="false">
        <!--data-animation-in="hinge-in" data-animation-out="hinge-out">-->
        <h4>Undo Changes</h4>
        <div class="row">
            Are you sure you want to undo all changes?
        </div>
        <div class="row float-right padding-top-2">
            <div class="column ">
                <a class="button small secondary" data-close>NO</a>
                <a class="button small" data-close ng-click="editorController.revert()">YES</a>
            </div>
        </div>
    </div>

</div>