<div class="row">
    <form>
        <div mass-autocomplete>
            <div ng-init="context={currentField: null}" ng-if="editorController.isEditable() && !statement.passive"
                 ng-include="editorController.getLocalePrefix()+'-edit.html'"></div>
            <div ng-init="context={currentField: null}" ng-if="editorController.isEditable() && statement.passive"
                 ng-include="editorController.getLocalePrefix()+'-edit-passive.html'"></div>
            <div ng-init="context={currentField: null}" ng-if="!editorController.isEditable() && !statement.passive"
                 ng-include="editorController.getLocalePrefix()+'-preview.html'"></div>
            <div ng-init="context={currentField: null}" ng-if="!editorController.isEditable() && statement.passive"
                 ng-include="editorController.getLocalePrefix()+'-preview-passive.html'"></div>
        </div>
    </form>
</div>


<div ng-if="editorController.isEditable()">
    <div class="row padding-top-2">
        <div class="callout secondary" ng-show="editorController.hasErrors(statement)">
            <div ng-show="statement.errors.useScope.active">
                <error-label fragment="statement.errors.useScope"></error-label>
                {{statement.errors.useScope.message}}
            </div>
            <div ng-show="statement.errors.action.active">
                <error-label fragment="statement.errors.action"></error-label>
                {{statement.errors.action.message}}
            </div>
        </div>
    </div>

    <div class="row" ng-show="!editorController.emptyStatement(statement)">
        <hr>
    </div>
    <div class="row" ng-show="!editorController.emptyStatement(statement)">
        <h5><strong>Preview</strong></h5>
        <div class="row column">
            <div ng-if="!statement.passive"
                 ng-include="editorController.getLocalePrefix()+'-preview.html'"></div>
            <div ng-if="statement.passive"
                 ng-include="editorController.getLocalePrefix()+'-preview-passive.html'"></div>
        </div>
    </div>
</div>



