<div class="row padding-top-2 padding-left-1" ng-controller="HomeController as home">
    <div class="row column">
        <h4>{{"my_documents_heading" |translate}}</h4>
    </div>
    <div class="row">
        <div class="small-1 columns middle icon-label-wrapper">
            <label for="search-box" class="search-label middle"><i class="fa fa-search"></i></label>
        </div>
        <div class="small-4 columns">
            <input id="search-box" class="search-box" ng-model="home.summaryFilter" type="text" ng-attr-placeholder="{{'search_docs_placeholder'|translate}}">
        </div>
        <div class="small-4 columns text-right">
            <label for="exampleFileUpload" class="button"><i class="fa fa-cloud-upload"></i> {{"upload_file"|translate}}</label>
            <input type="file" id="exampleFileUpload" class="show-for-sr">
            <a data-open="createModal" href="" class="button">{{"create_mixedcase"|translate}}</a>
        </div>

    </div>
    <div class="row column text-center padding-top-6" ng-if="home.summaries.length === 0">
        <h5>{{"no_documents_heading"|translate}}</h5>
    </div>
    <div class="row small-up-4" ng-if="home.summaries.length > 0">
        <div class="columns text-center" ng-repeat="summary in home.summaries | filter: home.summaryFilter| orderBy:'name'">
            <div class="image-wrapper overlay-fade-in">
                <img class="" src="http://placehold.it/300x350">
                <div class="image-overlay-content">
                    <div class="text-right padding-right-1 padding-top-0-5">
                        <a class="padding-right-1" href="" ng-attr-title="{{'download_title'|translate}}">
                            <i class="fa fa-cloud-download white"></i> </a>
                        <a data-open="deleteModal" ng-click="home.toDelete = summary" href="" ng-attr-title="{{'delete_title'|translate}}">
                            <i class="fa fa-trash white"></i>
                        </a>
                    </div>
                    <div class="padding-top-2">
                        <a href="" class="button" ng-click="home.editDocument(summary.id)">{{'edit_label'|translate}}</a>
                    </div>

                </div>
                <h6>{{summary.name}}</h6>
            </div>
        </div>
    </div>

    <div class="reveal tiny" id="deleteModal" data-reveal data-overlay="false">
        <h4>{{'delete_title'|translate}}</h4>
        <div class="row">
            {{"delete_description" |translate}}
        </div>
        <div class="row float-right">
            <div class="columns">
                <a class="button small secondary" data-close>{{"no" |translate}}</a>
                <a class="button small" data-close ng-click="">{{"delete" |translate}}</a>
            </div>
        </div>
    </div>
    <div class="reveal tiny" id="createModal" data-reveal data-overlay="false">
        <h4> {{"create_document" |translate}}</h4>
        <div class="row padding-top-2">
            <input ng-model="home.newName" type="text" ng-attr-placeholder="'document_name_placeholder' | translate">
        </div>
        <div class="row float-right padding-top-2">
            <div class="columns ">
                <a class="button small secondary" data-close> {{"cancel" |translate}}</a>
                <a class="button small" data-close ng-click=""> {{"create" |translate}}</a>
            </div>
        </div>
    </div>
</div>
