<div class="row padding-top-2 padding-left-1 padding-right-1" ng-controller="HomeController as home">
    <div class="row column">
        <h4>{{"my_documents_heading" |translate}}</h4>
    </div>
    <div class="row">
        <div class="small-1 columns middle icon-label-wrapper">
            <label for="search-box" class="search-label middle"><i class="fa fa-search"></i></label>
        </div>
        <div class="small-4 columns">
            <input id="search-box" class="search-box" ng-model="home.summaryFilter.name" type="text" ng-attr-placeholder="{{'search_docs_placeholder'|translate}}">
        </div>
        <div class="small-4 columns text-right">
            <!--<label for="exampleFileUpload" class="button"><i class="fa fa-cloud-upload"></i> {{"upload_file"|translate}}</label>-->
            <!--<input type="file" id="exampleFileUpload" class="show-for-sr">-->
            <a data-open="createModal" href="" class="button">{{"create"|translate}}</a>
            <a data-open="createTestModal" href="" class="button">Create Test Document</a>
        </div>

    </div>
    <div class="row column text-center padding-top-6" ng-if="home.summaries.length === 0">
        <h5>{{"no_documents_heading"|translate}}</h5>
    </div>
    
    <div>
        <div class="row text-left image-wrapper summary" ng-if="home.summaries.length > 0" ng-repeat="summary in home.summaries | filter: home.summaryFilter| orderBy:'name'">
        
                <a href="" ng-click="home.editDocument(summary.id)"><div  class="small-9 columns overview-name overlay-fade-in"><h6>{{summary.name}}</h6></div ></a>
                <div  class="small-1  columns overview-images">
                    <a class="padding-right-1" data-open="copyModal" ng-click="home.toCopy = summary" href="" ng-attr-title="{{'copy'|translate}}">
                        <i class="fa fa-clone blue"></i>
                    </a>
                    <a data-open="deleteModal" class="padding-right-1" ng-click="home.toDelete = summary" href="" ng-attr-title="{{'delete'|translate}}">
                        <i class="fa fa-trash blue"></i>
                    </a>
                    <!--<a href="" class="button" ng-click="home.editDocument(summary.id)">{{'edit'|translate}}</a>-->
                </div >
            
        </div>
    </div>
    

    <div class="reveal tiny" id="deleteModal" data-reveal data-overlay="false">
        <h4>{{'delete'|translate}}</h4>
        <div class="row padding-bottom-2">
            {{"delete_description" |translate}}
        </div>
        <div class="row float-right">
            <div class="columns">
                <a class="button small secondary" data-close>{{"no_action" |translate}}</a>
                <a class="button small" data-close ng-click="home.deleteDocument(home.toDelete.id)">{{"delete_action" |translate}}</a>
            </div>
        </div>
    </div>
    <div class="reveal tiny" id="createModal" data-reveal data-overlay="false">
        <h4> {{"create_document" |translate}}</h4>
        <div class="row padding-top-2">
            <input ng-model="home.newName"  type="text" ng-attr-placeholder="'document_name_placeholder' | translate">
        </div>
        <div class="row float-right padding-top-2">
            <div class="columns ">
                <a class="button small secondary" data-close> {{"cancel_action" |translate}}</a>
                <a class="button small" data-close ng-click="home.createDocument(home.newName)"> {{"create_action" |translate}}</a>
            </div>
        </div>
    </div>
    <div class="reveal tiny" id="createTestModal" data-reveal data-overlay="false">
        <h4> {{"create_document" |translate}}</h4>
        <div class="row padding-top-2">
            <input ng-model="home.newName" type="text" ng-attr-placeholder="'document_name_placeholder' | translate">
            <select ng-model="home.testDataType">
                <option value="{{key}}" ng-repeat="(key, value)  in home.testData">{{value.description}}</option>
            </select>
        </div>
        <div class="row float-right padding-top-2">
            <div class="columns ">
                <a class="button small secondary" data-close> {{"cancel_action" |translate}}</a>
                <a class="button small" data-close ng-click="home.createTestDocument(home.newName, home.testDataType)"> {{"create_action" |translate}}</a>
            </div>
        </div>
    </div>
    <div class="reveal tiny" id="copyModal" data-reveal data-overlay="false">
        <h4> {{"copy_document" |translate}}</h4>
        <div class="row padding-top-2">
            <input ng-model="home.copyName" type="text" ng-attr-placeholder="'document_name_placeholder' | translate">
        </div>
        <div class="row float-right padding-top-2">
            <div class="columns ">
                <a class="button small secondary" data-close> {{"cancel_action" |translate}}</a>
                <a class="button small" data-close ng-click="home.copyDocument(home.copyName, home.toCopy.id)"> {{"copy_action" |translate}}</a>
            </div>
        </div>
    </div>
</div>
