<div ng-controller="MainController as main">
    <div class=" top-bar fixed-nav" data-top-anchor="1">
        <div class="top-bar-title">
            <div style="padding-left: 5em">
                <a ui-sref="main.home" href=""><img src="assets/img/duck.png"></a>
                <a ui-sref="main.home" href="" ng-show="main.$state.includes('main.editor')">
                    <i class="fa fa-chevron-left"></i>
                    {{"documents"|translate}}
                </a>
            </div>
        </div>
        <div id="responsive-menu">
            <div class="top-bar-left">
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a href="" ui-sref="account">{{main.CurrentUser.firstName}} {{main.CurrentUser.lastName}}</a></li>
                    <li class="padding-right-1">
                        <a href="#"><i class="fa fa-globe"></i> </a>
                        <ul class="top-bar-menu vertical">
                            <li ng-repeat="locale in main.locales">

                                <a ng-click="main.setLocale(locale.id)" href="">
                                    <span class="fa fa-check padding-right-1" ng-show="locale.id === main.CurrentUser.locale"></span>
                                    <span class="fa fa-check padding-right-1" style="color: #0A0A0A" ng-show="locale.id !== main.CurrentUser.locale"></span>
                                    {{locale.description}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-open="signoutModal" class="button secondary hollow">{{"sign_out" | translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div ui-view class="section-fade main-offset"></div>

    <div class="reveal tiny" id="signoutModal" data-reveal ng-controller="SignoutController as signout" data-overlay="false">
        <!--data-animation-in="hinge-in" data-animation-out="hinge-out">-->
        <h4>{{"sign_out"|translate}}</h4>
        <div class="row">
            {{"sign_out_description" | translate}}
        </div>
        <div class="row float-right padding-top-2">
            <div class="column ">
                <a class="button small secondary" data-close>{{"no_action"|translate}}</a>
                <a class="button small" data-close ng-click="signout.signout()">{{"yes_action"|translate}}</a>
            </div>
        </div>
    </div>


</div>

