<div ng-controller="SigninController as signin">
    <div class="row">
        <div class="medium-6 medium-centered large-4 large-centered columns">
            <form>
                <div class="row column log-in-form">
                    <label class="text-center padding-bottom-3">
                        <img src="assets/img/duck.128.png">
                    </label>
                    <h4 class="text-center"> {{"signin_label"|translate}}</h4>
                    <label>
                        {{"email_label"|translate}}
                        <input type="text" ng-attr-placeholder="{{'email_placeholder'|translate}}" ng-model="signin.username">
                    </label>
                    <label>
                        {{"password_label"|translate}}
                        <input type="password" ng-attr-placeholder="{{'password_placeholder'|translate}}" ng-model="signin.password">
                    </label>
                    <p><a type="submit" ng-click="signin.signin()" class="button expanded"> {{"signin_button"|translate}}</a></p>
                    <p class="text-center"><a href="#"> {{"forgot_password"|translate}}</a></p>
                </div>
            </form>

        </div>
    </div>
</div>
