<div class="reveal tiny" id="abandonChanges" data-reveal data-overlay="false" ng-controller="AbandonController as abandon">
    <h4>{{"abandon_changes" | translate}}</h4>
    <div class="row">
        {{"abandon_changes_description" | translate}}
    </div>
    <div class="row float-right padding-top-2">
        <div class="column ">
            <a class="button small secondary" data-close>{{"no_action" | translate}}</a>
            <a class="button small" data-close ng-click="abandon.confirm()">{{"yes_action" | translate}}</a>
        </div>
    </div>
</div>