/**
 * Mass autocomplete control styles.
 */
.ac-container {
  // TODO width should be set as a media query
  width: 600px !important;
  max-height: 600px!important;
  overflow: scroll;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 100000;    // set a high value to place in front of modals
  .ac-menu {
    z-index: 100000;    // set a high value to place in front of modals
    border: 1px solid #ccc;
    list-style: none;
    padding: 1em;
    background-color: white;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.15);
    margin: 0;

    a {
      padding-left: 5px;
      display: block;
      color: inherit;
      text-decoration: none;
    }
    .ac-menu-item {
      border-bottom: 1px dotted #ccc;
      line-height: 35px;
      margin: 0;

      &:last-child {
        border-bottom: 0;
      }

      &:hover {
        background-color: #e0eaff;
      }

    }

    .ac-state-focus {
      outline: none;
      background-color: #e0eaff;
    }
  }
}

