/**
 * Implements an image overlay box.
 */

// image overlay classes

.image-wrapper {

  border-radius: $global-radius;
  border: 1px solid #777777;
  border-spacing: 2px;
  margin-bottom: 2px;
}
.overview-name{
  padding-top: 1.5vh;
  padding-bottom: 1vh;
  border-radius: 5px;
  margin-left: 1vw;
  color: #444444;
  transition: all 0.8s ease-in-out;
}

.overview-name:hover{
    background-color: #aeaeae;;
    transition: all 0.2s linear;
    color: #282828;
  }

.overview-images{
  padding-top: 1.5vh;
  padding-bottom: 1vh;
}

.image-overlay-content {
  width: 100%;
  height: 50%;
  position: absolute;
  overflow: hidden;
  top: 20%;
  left: 0;

 

}

