@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'font-awesome';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// Default medium-gray color
$medium-gray: #cacaca;
// Default global padding
$global-padding: 1rem;
// Global value used for all elements that have a border radius.
$global-radius: 3px;

// Setting the form border color
$form-border-color: $medium-gray;
// Setting the form padding
$form-padding: $global-padding;
// Setting the form border radius
$form-radius: $global-radius;

.log-in-form {
  border: 0 solid $form-border-color;
  padding: 10em;
  border-radius: $form-radius;
}

.padding-top-0-5 {
  padding-top: .5em !important;
}

.padding-top-1 {
  padding-top: 1em !important;
}

.padding-top-2 {
  padding-top: 2em !important;
}

.padding-right-1 {
  padding-right: 1em !important;
}

.padding-bottom-3 {
  padding-bottom: 3em;
}

.padding-top-6 {
  padding-top: 6em;
}

.not-found-message {
  padding-top: 10em;
  color: $medium-gray !important;

}

.fixed-nav {
  width: 100% !important;
  left: 0 !important;;
  position: fixed !important;;
  top: 0 !important;;
  z-index: 99 !important;
}

.white {
  color: white !important;
}

.medium-gray {
  color: $medium-gray !important;
}

// image overlay classes

.image-wrapper {
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: $global-radius;
}

.image-overlay-content {
  width: 100%;
  height: 50%;
  position: absolute;
  overflow: hidden;
  top: 20%;
  left: 0;
}

.overlay-fade-in {

  p {
    letter-spacing: 0.15em;
    color: #f4f4f4;
    font-size: 28px;
    opacity: 0;
    transition: all 0.2s linear;
  }

  img {
    transition: all 0.2s linear;
  }

  .image-overlay-content {
    opacity: 0;
    background-color: rgba(20, 33, 40, .7);
    transition: all 0.4s ease-in-out;
    padding-bottom: 5em !important;

  }

  &:hover img {
    //transform: scale(1.2);
  }

  &:hover .image-overlay-content {
    opacity: 1;
  }

  &:hover h2, p, .button {
    opacity: 1;
  }

  &:hover p {
    transition-delay: 0.1s;
  }

  &:hover .button {
    transition-delay: 0.2s;
  }
}

// end image overlay classes

.search-box {
  border-width: 0 !important;
  border-bottom-width: 1px !important;
  background-color: rgba(255, 255, 255, 0) !important;
  box-shadow: none !important;
}

.search-box:focus {
  border-bottom-width: 1px !important;
  box-shadow: none !important;
}

.icon-label-wrapper {
  width: 1% !important;
  padding-right: 0 !important
}

.search-label {
  color: $medium-gray !important;
  border: 0;
  white-space: nowrap;
}

.sidebar {
  position: fixed;
  width: 200px;
  top: 200px;
  left: 0;
}

.editor-left-padding {
  padding-left: 10em !important;

  ///* Medium only */
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    padding-left: 10em !important;
  }

  /* Large and up */
  @media screen and (min-width: 74.9376em) {
    padding-left: 10em !important;
  }

  /* Large only */
  @media screen and (min-width: 64em) and (max-width: 74.9375em) {
    padding-left: 10em !important;

  }

  /* Extra large and up */
  @media screen and (min-width: 82em) {
    padding-left: 5em !important;
  }

}

// animations

.hinge-in {
  @include mui-hinge($state: in, $from: top, $fade: true, $timing: map-get($motion-ui-easings, bounceInOut));
}

.hinge-out {
  @include mui-hinge($state: out, $from: top, $fade: true, $timing: map-get($motion-ui-easings, bounceInOut));
}

.mainSlider.ng-enter {
  @include mui-animation(fade);
  animation-duration: 1s;
}

.mainSlider.ng-leave {
  opacity: 0;
}




